<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean name="DeathStar" class="objects.Spacecraft">
        <property name="name" value="Death Star"/>
        <property name="classification" value="Planet destroer"/>
        <property name="capacity" value="5"/>
    </bean>
    <bean name="BigDonut" class="objects.Spacecraft">
        <property name="name" value="Big DONUT"/>
        <property name="classification" value="Planet eater"/>
        <property name="capacity" value="1924324"/>
    </bean>
    <bean name="PeacfullCorsair" class="objects.Spacecraft">
        <property name="name" value="Peacfull corsair"/>
        <property name="classification" value="The best ship literally."/>
        <property name="capacity" value="1000"/>
    </bean>
    <bean name="Trip1" class="objects.Trip">
        <property name="codeName" value="Trip to the Moon."/>
        <property name="destination" value="Moon"/>
        <property name="startingPoint" value="Earth"/>
    </bean>
    <bean name="Trip2" class="objects.Trip">
        <property name="codeName" value="Trip to the Mars."/>
        <property name="destination" value="Mars"/>
        <property name="startingPoint" value="Moon"/>
    </bean>
    <bean name="Trip3" class="objects.Trip">
        <property name="codeName" value="Trip to the Sun."/>
        <property name="destination" value="Sun"/>
        <property name="startingPoint" value="Mars"/>
    </bean>
    <bean name="Astr1" class="objects.Astronauts">
    <property name="firstName" value="Trip to the Moon."/>
    <property name="lastName" value="Moon"/>
    <property name="age" value="34"/>
    <property name="sex" value="true"/>
    <property name="speciality" value="Earth"/>
</bean>
    <bean name="Astr2" class="objects.Astronauts">
        <property name="firstName" value="Trip to the Moon."/>
        <property name="lastName" value="Moon"/>
        <property name="age" value="34"/>
        <property name="sex" value="true"/>
        <property name="speciality" value="Earth"/>
    </bean>
    <bean name="Astr3" class="objects.Astronauts">
        <property name="firstName" value="Trip to the Moon."/>
        <property name="lastName" value="Moon"/>
        <property name="age" value="34"/>
        <property name="sex" value="true"/>
        <property name="speciality" value="Earth"/>
    </bean>
    <bean name="Astr4" class="objects.Astronauts">
        <property name="firstName" value="Trip to the Moon."/>
        <property name="lastName" value="Moon"/>
        <property name="age" value="34"/>
        <property name="sex" value="true"/>
        <property name="speciality" value="Earth"/>
    </bean>
</beans>